
<div style="display: flex; flex-direction: column;">
    <div class="form-group" style="width: 50vw;">
        <label for="file">Choose Image</label>
        <br>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)">
        <br>
        <img [src]="image.data[0].url" alt="" style="max-width: 300px;">
    </div>
    <div>
        <label for="">Input Some Text: </label>
        <input type="text" name="textField" [(ngModel)]="text">
    </div>
</div>
<div style="width: 100vw;" align="center">
    <br><br>
    <button (click)="submitQuestion()">Upload</button>
</div>

<hr>
<table>
    <tr>
        <th>First Image</th>
        <th>Matching Text</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let questions of Question">
        <td>
            <ng-container *ngIf="questions.Medium">
                <img [src]="questions.Medium.url" alt="" style="max-width: 300px;">
            </ng-container>
        </td>
        <td>
            <ng-container *ngIf="questions.text">
                <p>{{questions.text}}</p>
            </ng-container>
        </td>
        <td>
            <button (click)="delete(questions.id)">Delete</button>
        </td>
    </tr>
</table>